<h1>Listing schedules</h1>
<div class="tblAs">
<table id="tblSche">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Week</th>
    <th>Statue</th>
    <th>Plan man days</th>
    <th>Acctual man days</th>
    <th>Assigned project</th>
    <%if !current_user.admin?%>
    <th colspan=3>Action</th>
    <%else%>
      <th>Action</th>
    <%end%>
  </tr>

<% @schedules.each do |schedule| %>
  <tr id="rowSche">
    <td class="rowS"><%= schedule.year %></td>
    <td class="rowS"><%= schedule.Month %></td>
    <td class="rowS"><%= schedule.week %></td>
    <td class="rowS"><%= schedule.statue %></td>
    <td class="rowS"><%= schedule.plan_man_days %></td>
    <td class="rowS"><%= schedule.acctual_man_days %></td>
    <td class="rowS"><%= schedule.assigned_project_id %></td>
    <%if current_user.admin?%>
         <td class="rowS">
            <% if !approved?(schedule)%>
                <%= link_to 'Approve', :controller => "schedules", :action => "approved", :id => schedule,:statue=>"approved" %>
            <%else%>
                <%= link_to 'Draffing', :controller => "schedules", :action => "approved", :id => schedule,:statue=>"draffing" %>
            <% end%>
            </td>
        </td>
    <%else%>
        <td class="rowS"><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td class="rowS"><%= link_to 'Show', schedule %></td>
        <td class="rowS"><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
       
    </tr>
<% end %>
</table>
</div>
<br />
<% if !current_user.admin? %>
    <%= link_to 'New Schedule', new_schedule_path %>
<%end%>