<li id="<%= item.id %>">
    id: <b><%= item.id %></b><br>
    Month :<%= item.Month %>  <br>
    acctual_man_days: <%= item.acctual_man_days %><br>
    assigned_project_id: <%= item.assigned_project_id %><br>
    plan_man_days: <%= item.plan_man_days %>  <br>
    statue: <%= item.statue %><br>
    week: <%= item.week %><br>
  	Year: <%= item.year %><br>
</li>