<h1>Listing projects</h1>
<div class="tblAs">
<table id="tblSche">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <% if current_user.admin? %>
       <th colspan=3>Action</th>
       <%end%>
  </tr>

<% @projects.each do |project| %>
  <tr id="rowSche">
    <td class="rowS"><%= project.name %></td>
    <td class="rowS"><%= project.description %></td>
    <% if current_user.admin? %>
    <td class="rowS"><%= link_to 'Show', project %></td>
    <td class="rowS"><%= link_to 'Edit', edit_project_path(project) %></td>
    <td class="rowS"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>
</div>
<br />
<% if current_user.admin? %>
  <%= link_to 'New Project', new_project_path %>
<%end%>